table {
  border-spacing: 0;
  tr {
    font-family: Verdana, sans-serif, Geneva;
    td {
      color: #181717;
      font-weight: 300;
      border: 1px solid #40363624;
      padding: 15px 25px;
    }
  }
}
